---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutSection from '../components/AboutSection.astro';
import PageTitle from '../components/PageTitle.astro';
import { getCollection, type CollectionEntry, getEntry, render } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE_TAG } from '../consts';

const aboutPosts = await getCollection('about');

/*
const sortPosts = (
  a: CollectionEntry<'about'>,
  b: CollectionEntry<'about'>
) => {
	return a.data.id - b.data.id; 
};
*/

const order = [
  "Storm Philippa",
  "Exhibitions",
  "Scholarships",
  "Education",
];

const orderedAbout = aboutPosts.sort(
  (a, b) =>
    order.indexOf(a.data.title) - order.indexOf(b.data.title)
);

---
<style>
	h1 {
		color: var(--peachy-pink);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--margin-xl);
		background-color: var(--wine-red);
		/*background-color: var(--peachy-pink);*/
		padding: var(--margin-md);
		border-radius: var(--border-radius);
	}
</style>

<BaseLayout
	title={`About Me ${SITE_TITLE_TAG}`}
	description={SITE_DESCRIPTION}
	background="wine-red"
>
	<PageTitle 
		title="About"
		color="text-peachy-pink"
	/>
	<div class="wrapper">
		{
			/*aboutPosts
			.sort(sortPosts)*/
			orderedAbout
			.map((post) => (
				<AboutSection
					cover={post.data.cover}
					coverAlt={post.data.coverAlt}
					title={post.data.title}
					text={post}
				/>
			))
		}
	</div>
</BaseLayout>