---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import PageTitle from '../components/PageTitle.astro';
import PortfolioCard from '../components/PortfolioCard.astro';

import '../styles/index.css';

const sortPosts = (
  a: CollectionEntry<'portfolio'>,
  b: CollectionEntry<'portfolio'>
) => b.data.date.valueOf() - a.data.date.valueOf();

//a.data.title.localeCompare(b.data.title);

const featuredPosts = await getCollection('portfolio', ({ data }) => data.featured === true);

---

<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	background="wine-red"
>
	<PageTitle 
		title="Storm"
		color="text-peachy-pink"
	/>
	<div class="home">
		<ul class="portfolio-list">
			{
				featuredPosts
					.sort(sortPosts)
					.map((post) => (
						<PortfolioCard 
							cover={post.data.cover}
							coverAlt={post.data.coverAlt}
							url={`/storm/portfolio/${post.id}/`}
							title={post.data.title}
						/>
					))
			}
		</ul>
	</div>
</BaseLayout>